@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.Models
@using App.ViewModels.PreOrder
@model App.ViewModels.Home.HomePageViewModel

@{
    Layout = "_Layout";
    var firstImage = Model.Page?.Images?.FirstOrDefault(); 
}

<div class="promo">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @for(var i = 0; i < (Model.Page?.Images?.Count ?? 0); i++)
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="@i" @(i == 0 ? "class=active" : "")></li>
            }
        </ol>
        <div class="carousel-inner">
            @foreach (var image in Model?.Page?.Images ?? new List<ImageModel>())
            {
                <div class="carousel-item @(image == firstImage ? "active" : "")">
                    <img class="d-block w-100" src="@image?.Url" >
                </div>
            }
        </div>
        
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" onclick="$('#carouselExampleIndicators').carousel('prev')">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">@await Html.RenderText("Previous")</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" onclick="$('#carouselExampleIndicators').carousel('next')">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">@await Html.RenderText("Next")</span>
        </a>
    </div>
    <div class="info-block">
        <div class="container">
            <div class="text-block">
                @Html.Raw(Model.Page.MainTitle)
            </div>
        </div>
    </div>
    <a href="#about" class="container-arr">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </a>
</div>

@await Html.PartialAsync("About", Model.AboutPageViewModel)

@await Html.PartialAsync("ServicesPage", Model.ServicesPageViewModel)

@await Html.PartialAsync("PreOrder", new PreOrderDto())

@await Html.PartialAsync("Contacts", Model.ContactsPageViewModel)