@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.cms.ViewModels.Common
@using App.Models
@using App.ViewModels.PreOrder
@model App.ViewModels.Home.HomePageViewModel

@{
    Layout = "_Layout";
    var firstImage = Model.Page?.Images?.FirstOrDefault();

    var mapHtml = "<iframe src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50970.587047781424!2d-7.946110777752769!3d37.017866511653004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0552e72290faa7%3A0x8d73c2d4494aff5a!2sFaro!5e0!3m2!1sen!2spt!4v1705887575167!5m2!1sen!2spt\" style=\"border:0;\" allowfullscreen=\"\" loading=\"lazy\" referrerpolicy=\"no-referrer-when-downgrade\"></iframe>";
    var mapModel = new MapViewModel
    {
        Location = mapHtml
    };
}

<div style="background-image: url('/UploadImages/4b9dd319-9f23-4b7c-882f-344a78c60691_compressed.webp');" class="fullWidthImage d-flex align-items-center">
    <div class="row col-6 offset-1">
        <span class="fs-1 fw-bolder">@await Html.RenderText("Virtuality")</span>
        <span class="fs-4 mb-5">@await Html.RenderText("Studio Virtual Reality")</span>
        <p class="fs-1 mb-5 fw-normal">@await Html.RenderText("Lost in the game, find yourself in experience")</p>
        <div style="background-color:aliceblue" class="ps-2 pb-5 pt-1 ms-2">
            <span class="fs-4">@await Html.RenderText("Located in")<span class="fw-bold">@await Html.RenderText("Faro")</span></span>
            @await Html.PartialAsync("~/CMS/Views/Shared/Common/Map.cshtml", mapModel)
        </div>
    </div>
</div>


@* @await Html.PartialAsync("About", Model.AboutPageViewModel) *@

@* @await Html.PartialAsync("ServicesPage", Model.ServicesPageViewModel) *@

@await Html.PartialAsync("GamesList", Model.GamesViewModel?.GameModels)

@await Html.PartialAsync("PreOrder", new PreOrderDto())

@* @await Html.PartialAsync("Contacts", Model.ContactsPageViewModel) *@