@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.cms.Options
@using App.cms.StaticHelpers.Cookies
@using App.cms.ViewModels.Common
@using App.Models
@using App.ViewModels.Book
@using App.ViewModels.PreOrder
@model App.ViewModels.Home.HomePageViewModel
@inject ILocalOptionsCookieRepository LocalOptionCookieRepository

@{
    Layout = "_Layout";
}

<div class="container-fluid px-0 row mx-0">
    @* -6.392px 0px / 115.015% 100% *@
    <div style="background: url('/UploadImages/6a6d8a89-d4f9-4dd8-9873-3c376c65de49_compressed.webp') lightgray center center / cover no-repeat"
         class="fullWidthImageNew col-md-7 col-sm-12 px-0">
        <div style="background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.75) 48.5%); padding-top: 44px; padding-bottom: 44px"
             class="d-flex row-column justify-content-start align-items-center w-100 h-100">
            <div class="row col-10 offset-1 col-lg-8 offset-lg-2">
                <span class="h1 mb-4">@await Html.RenderText("Virtual Reality Arcade", false)</span>
                <div class="h4 mb-4">
                    @await Html.RenderText("Lost in the game")
                    <br/>
                    @await Html.RenderText("find yourself in experience")
                </div>
                <div class="mb-3 d-flex align-items-center">
                    <span class="text1 main_text_block">@await Html.RenderText("Hours")</span>
                    <span class="text2">@await Html.RenderText("WED-SUN 3:00-9:00 PM")</span>
                </div>

                <div class="mb-5 d-flex align-items-center">
                    <span class="text1 main_text_block">@await Html.RenderText("Pricing")</span>
                    <span class="text2">@await Html.RenderText("From 20" + Options.Currency + " per hour")</span>
                </div>

                @await Html.PartialAsync("Booking/BookButton")
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-12 ps-0 pe-0" style="min-height: 430px">
        @await Html.PartialAsync("~/CMS/Views/Shared/Common/Map.cshtml", MapViewModel.GetDefaultLocation())
    </div>
</div>


@* @await Html.PartialAsync("About", Model.AboutPageViewModel) *@

@* @await Html.PartialAsync("ServicesPage", Model.ServicesPageViewModel) *@

<div class="d-md-none d-sm-block col-sm-12 language_mobile_block d-flex align-item-center justify-content-center">
    @await Html.PartialAsync("Header/Menus", Model.HeaderViewModel)
</div>

@await Html.PartialAsync("GamesList", Model.GamesViewModel?.GameModels)

@if (LocalOptionCookieRepository.BookingEnabled())
{
    @await Html.PartialAsync("Booking/BookPrePrice")
    
    @await Html.PartialAsync("Contacts/ContactsBlock", Model.ContactsPageViewModel)

    @* @await Html.PartialAsync("Booking/CommercialBookBlock", new BookDto()) *@
}
else
{
    @await Html.PartialAsync("SoonBookBlock", new BookDto())

    @await Html.PartialAsync("PreOrder", new PreOrderDto())
}

<div style="height: 120px"/>

@* @await Html.PartialAsync("Contacts", Model.ContactsPageViewModel) *@