@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.cms.Repositories.TextResource
@using App.cms.StaticHelpers.Cookies
@using App.Models
@using App.ViewModels.Booking
@using App.ViewModels.Booking.Time
@using App.ViewModels.Views
@using InputType = App.ViewModels.Views.InputType
@using Options = App.cms.Options.Options
@model App.ViewModels.Booking.BookingSuccessViewModel
@inject TextResourceRepository TextResourceRepository
@inject IBookingSelectionCookieRepository bookingSelectionCookieRepository
@inject ILanguageCookieRepository LanguageCookieRepository


@{
    Layout = "_Layout";

    var times = Model.SelectedTimes.Select(w => new BookingTimeItemDto
    {
        AppointTimeDto = w,
        Selected = true,
        Enabled = false,
        BookingTimeItemType = BookingTimeItemType.Date
    }).ToList();

    var personCount = Model.PersonBookingDto.PersonBooking.PeopleCount;

    var sum = Model.SelectedTimes.Sum(w => w.AppointTime.Price) * personCount;

    var totalSum = " " + await TextResourceRepository.GetByTagAsync("total sum: " + Options.Currency + sum);
    
    var guestSelector = await SelectorViewModel.GetGuestsSelector(Model.PersonBookingDto.PersonBooking, TextResourceRepository);
    guestSelector.Enabled = false;
    
    var idInput = new InputViewModel("", "id", Model.PersonDto.PersonModel.Id.ToString())
    {
        Type = InputType.Hidden
    };

    var personDto = Model.PersonDto;
    personDto.Enabled = false;
    
    var bookAgain = new ButtonViewModel("Book again", "Index", "Booking", "get", true, Style.Black);
    var toHome = new ButtonViewModel("To home", "Index", "Home", "get", true, Style.Black);
    var myBookings = new ButtonViewModel("My bookings", "Index", "MyBookings", "get", true, Style.Black);
}
<div class="pre-price-book-block pre-price-pictures container-fluid text-center text-white">
    <div class="container py-5" id="booking_selected">
        <div class="row pb-2">
            <p>
                <span class="fw-bold fs-3 text-center">@await Html.RenderText("Thanks for booking")</span>
                <span class="fw-bold fs-3 text-center">@await Html.RenderText("In case if you have need help, call us ar email")</span>
            </p>
        </div>

        <div class="row text-center">

            <div class="col-6 offset-3">
                @await Html.PartialAsync("Common/Selector", guestSelector)
            </div>

            <div class="col-3"></div>

            <div class="col-6 offset-3 text-white fs-3 pb-3 fw-bold text-center">
                @totalSum
            </div>

            @await Html.PartialAsync("Common/Input", idInput)
            <div class="d-flex col-12">
                @await Html.PartialAsync("Common/Input", personDto.GetPhoneInput())
                @await Html.PartialAsync("Common/Input", personDto.GetEmailInput())
            </div>
            <div class="d-flex col-12">
                @await Html.PartialAsync("Common/Input", personDto.GetNifInput())
                @await Html.PartialAsync("Common/Input", personDto.GetNameInput())
            </div>
            <div class="col-6 offset-3">
                @await Html.PartialAsync("Common/Input", personDto.GetCommentInput())
            </div>
            <div class="col-6 offset-3">
                @await Html.PartialAsync("Common/CheckboxControl", personDto.GetIsCompany())
            </div>
            <div id="@PersonDto.IsCompanyClassName">
                <div class="d-flex col-12">
                    @await Html.PartialAsync("Common/Input", personDto.GetCompanyNif())
                    @await Html.PartialAsync("Common/Input", personDto.GetCompanyName())
                </div>
                <div class="col-6 offset-3">
                    @await Html.PartialAsync("Common/Input", personDto.GetCompanyAddress())
                </div>
            </div>

            <div class="d-flex justify-content-around">
                @await Html.PartialAsync("Common/Button", bookAgain)
                @await Html.PartialAsync("Common/Button", toHome)
                @await Html.PartialAsync("Common/Button", myBookings)
            </div>
        </div>

        @await Html.PartialAsync("Booking/Time/BookingTimeItemsRow", new BookingTimeItemsRow(times))
    </div>
</div>