@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.cms.Repositories.TextResource
@using App.cms.StaticHelpers.Cookies
@using App.Models
@using App.ViewModels.Booking
@using App.ViewModels.Booking.Time
@using App.ViewModels.Views
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using InputType = App.ViewModels.Views.InputType
@using Options = App.cms.Options.Options
@model App.ViewModels.Booking.BookingConfirmationViewModel
@inject TextResourceRepository TextResourceRepository
@inject IBookingSelectionCookieRepository bookingSelectionCookieRepository
@inject ILanguageCookieRepository LanguageCookieRepository


@{
    Layout = "_Layout";

    var goBackButton = new ButtonViewModel("Go back and edit", "EnterPersonDetails", "Booking", "get")
    {
        Style = Style.Black
    };
    
    var buttonDto = new ButtonViewModel("Reserve now", "", "", "", false, Style.Black);
    buttonDto.ElementId = "SubmitConfirmationFormButton";
}

<div class="col-10 offset-1 row">
    <div class="col-8">
        <div class="container-fluid text-center text-white">
            <div class="container py-5 d-flex flex-column justify-content-center">
                <span class="h1 text-start">@await Html.RenderText("Confirmation")</span>
                <br/>
                <span class="text5 text-start pb-4">@await Html.RenderText("Verify all data and confirm. In case if you have mistaken, get back and edit")</span>
                
                <div class="d-flex">
                    <div class="pe-3">
                        @await Html.PartialAsync("Common/Button", goBackButton)
                    </div>
                    <form asp-action="BookingConfirmation" asp-controller="Booking" method="post">
                        <input type="hidden" name="uuid" value="@Model.PersonBookingDto.PersonBooking.Id.ToString()"/>
                        <div class="d-flex justify-content-center">
                            @await Html.PartialAsync("Common/Button", buttonDto)
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        @await Html.PartialAsync("Booking/Summary", Model)
    </div>
</div>