@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.cms.Repositories.TextResource
@using App.cms.StaticHelpers.Cookies
@using App.Models
@using Options = App.cms.Options.Options
@model App.ViewModels.Booking.BookingSuccessViewModel
@inject TextResourceRepository TextResourceRepository
@inject IBookingSelectionCookieRepository bookingSelectionCookieRepository
@inject ILanguageCookieRepository LanguageCookieRepository


@{
    Layout = "_Layout";

    var selection = bookingSelectionCookieRepository.GetValue();

    var sum = Model.SelectedTimes.Sum(w => w.AppointTime.Price) * selection.PeopleCount;

    var totalSum = " " + await TextResourceRepository.GetByTagAsync("total sum: " + Options.Currency + sum);
}
<div class="container-fluid text-center bg-info text-white">
    <div class="container py-5" id="booking_selected">
        <div class="row pb-2">
            <p>
                <span class="fw-bold fs-3 text-center">@await Html.RenderText("Congratulations")</span>
            </p>
        </div>

        <div class="row text-center">
            <span class="fs-3 col-2 text-center">@(await Html.RenderText("Person count") + ":" + selection.PeopleCount)</span>
        </div>

        <div class="col-4 offset-2 text-white fs-3 pb-3 fw-bold text-center">
            @totalSum
        </div>

        @{
            await Html.RenderPartialAsync("Shared/Booking/SelectedTimes", Model.SelectedTimes);
        }
    </div>
</div>