@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.cms.Repositories.TextResource
@using App.cms.StaticHelpers.Cookies
@using App.Models
@using App.ViewModels.Views
@model App.ViewModels.Booking.BookingSuccessViewModel
@inject TextResourceRepository TextResourceRepository
@inject IBookingSelectionCookieRepository bookingSelectionCookieRepository
@inject ILanguageCookieRepository LanguageCookieRepository


@{
    Layout = "_Layout";

    var bookAgain = new ButtonViewModel("Book again", "Index", "Booking", "get");
    var toHome = new ButtonViewModel("To home", "Index", "Home", "get", true, Style.Black);
}

<div class="col-10 offset-1 row">
    <div class="col-8">
        <div class="container-fluid text-center text-white">
            <div class="container py-5">

                <div class="border-default bg-white mb-4" style="height: 7.625rem">
                    <div class="bg-happy h-100 w-100 d-flex justify-content-center flex-column">
                        <span class="text3 text-center text-brand">@await Html.RenderText("Thank you!")</span>
                    </div>
                </div>

                <div class="d-flex flex-column justify-content-start align-items-start">
                    <span class="h1">@await Html.RenderText("Reservation")</span>
                    <div class="mt-2 mb-4">
                        <span class="h1 pre-price-experience-text">@await Html.RenderText("successful!")</span>
                    </div>
                    <span class="text3">@await Html.RenderText("In case if you need help, call us or email")</span>
                </div>

                <div class="d-flex mt-4">
                    <div class="pe-3">
                        @await Html.PartialAsync("Common/Button", bookAgain)
                    </div>
                    @await Html.PartialAsync("Common/Button", toHome)
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        @await Html.PartialAsync("Booking/Summary", Model)
    </div>
</div>