@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.cms.Repositories.TextResource
@using App.cms.StaticHelpers.Cookies
@using App.Models
@using App.ViewModels.Booking
@using App.ViewModels.Booking.Time
@using App.ViewModels.Views
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using InputType = App.ViewModels.Views.InputType
@using Options = App.cms.Options.Options
@model App.ViewModels.Booking.PersonDetailsViewModel
@inject TextResourceRepository TextResourceRepository
@inject IBookingSelectionCookieRepository bookingSelectionCookieRepository
@inject ILanguageCookieRepository LanguageCookieRepository


@{
    Layout = "_Layout";

    var times = Model.SelectedTimes.Select(w => new BookingTimeItemDto()
    {
        AppointTimeDto = w,
        Selected = true,
        Enabled = false,
        BookingTimeItemType = BookingTimeItemType.Date
    }).ToList();
    
    var personCount = Model.PersonBookingDto.PersonBooking.PeopleCount;

    var sum = Model.SelectedTimes.Sum(w => w.AppointTime.Price) * personCount;
    
    var totalSum = " " + await TextResourceRepository.GetByTagAsync("total sum: " + Options.Currency + sum);
    
    var guestSelector = await SelectorViewModel.GetGuestsSelector(Model.PersonBookingDto.PersonBooking, TextResourceRepository);
    guestSelector.Enabled = false;
            
    var idInput = new InputViewModel("", "id", Model.PersonDto.PersonModel.Id.ToString())
    {
        Type = InputType.Hidden
    };

    var personDto = Model.PersonDto;
    
    var buttonDto = new ButtonViewModel("Continue", "", "", "get", false, Style.Black);
}
    <div class="pre-price-book-block pre-price-pictures container-fluid text-center text-white">
        <div class="container py-5" id="booking_selected">
            <div class="row pb-2">
                <p>
                    <span class="fw-bold fs-3 text-center">@await Html.RenderText("Enter person details")</span>
                </p>
            </div>

            <div class="row text-center">

                <div class="col-6 offset-3">
                    @await Html.PartialAsync("Common/Selector", guestSelector)
                </div>
                
                <div class="col-3"></div>
                
                <div class="col-6 offset-3 text-white fs-3 pb-3 fw-bold text-center">
                    @totalSum
                </div>
                
                <form asp-action="EnterPersonDetails" asp-controller="Booking" method="post" class="pb-3 pt-3">
                    @await Html.PartialAsync("Common/Input", idInput)
                    <div class="d-flex col-12">
                        @await Html.PartialAsync("Common/Input", personDto.GetPhoneInput())
                        @await Html.PartialAsync("Common/Input", personDto.GetEmailInput())                 
                    </div>
                    <div class="d-flex col-12">
                        @await Html.PartialAsync("Common/Input", personDto.GetNifInput())
                        @await Html.PartialAsync("Common/Input", personDto.GetNameInput())
                    </div>
                    <div class="col-6 offset-3">
                        @await Html.PartialAsync("Common/Input", personDto.GetCommentInput())
                    </div>
                    <div class="col-6 offset-3">
                        @await Html.PartialAsync("Common/CheckboxControl", personDto.GetIsCompany())
                    </div>
                    <div id="@PersonDto.IsCompanyClassName">
                        <div class="d-flex col-12">
                            @await Html.PartialAsync("Common/Input", personDto.GetCompanyNif())
                            @await Html.PartialAsync("Common/Input", personDto.GetCompanyName())
                        </div>
                        <div class="col-6 offset-3">
                            @await Html.PartialAsync("Common/Input", personDto.GetCompanyAddress())
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        @await Html.PartialAsync("Common/Button", buttonDto)
                    </div>
                </form>
            </div>

            @await Html.PartialAsync("Booking/Time/BookingTimeItemsRow", new BookingTimeItemsRow(times))
        </div>
    </div>