@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.cms.Repositories.TextResource
@using App.cms.StaticHelpers.Cookies
@using App.Models
@using App.ViewModels.Booking
@using App.ViewModels.Booking.Time
@using App.ViewModels.Views
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using InputType = App.ViewModels.Views.InputType
@using Options = App.cms.Options.Options
@model App.ViewModels.Booking.PersonDetailsViewModel
@inject TextResourceRepository TextResourceRepository
@inject IBookingSelectionCookieRepository bookingSelectionCookieRepository
@inject ILanguageCookieRepository LanguageCookieRepository


@{
    Layout = "_Layout";

    var times = Model.SelectedTimes.Select(w => new BookingTimeItemDto()
    {
        AppointTimeDto = w,
        Selected = true,
        Enabled = false,
        BookingTimeItemType = BookingTimeItemType.Date
    }).ToList();
    
    var personCount = Model.PersonBookingDto.PersonBooking.PeopleCount;

    var sum = Model.SelectedTimes.Sum(w => w.AppointTime.Price) * personCount;
    
    var totalSum = " " + await TextResourceRepository.GetByTagAsync("total sum: " + Options.Currency + sum);
    
    var selectorDto = new SelectorViewModel(await TextResourceRepository.GetByTagAsync("Select number of people"),
        personCount.ToString(),
        Options.Booking.GetOptions().Select(w=> new KeyValueViewModel(w.ToString(), w.ToString())).ToList(),
        false)
    {
        DefaultSelection = false,
        OnChangeScript = "prePricePersonCountSelectionOnChange(this, 'prePriceBlockId')",
        Enabled = false,
        WithDefaultValue = false
    };

            
    var companyDataId = "company_data";

    var idInput = new InputViewModel("", "id", Model.PersonDto.PersonModel.Id.ToString())
    {
        Type = InputType.Hidden
    };
    var phoneInput = new InputViewModel("Phone", "Phone", Model.PersonDto.PersonModel.Phone);
    var emailInput = new InputViewModel("Email", "Email", Model.PersonDto.PersonModel.Email);
    var nifInput = new InputViewModel("NIF (optional)", "NIF", Model.PersonDto.PersonModel.NIF);
    var fullNameInput = new InputViewModel("Name", "FullName", Model.PersonDto.PersonModel.FullName);
    var commentInput = new InputViewModel("Comment (optional)", "Comment", Model.PersonDto.PersonModel.Comment);
    var isCompanyControl = new CheckBoxControlViewModel("Is company", "IsCompany", Model.PersonDto.PersonModel.IsCompany, companyDataId);
    var companyNif = new InputViewModel("Company NIF", "CompanyNIF", Model.PersonDto.PersonModel.CompanyNIF);
    var companyName = new InputViewModel("Company Name", "CompanyName", Model.PersonDto.PersonModel.CompanyName);
    var companyAddress = new InputViewModel("Company Address", "CompanyAddress", Model.PersonDto.PersonModel.CompanyAddress);
    
    var buttonDto = new ButtonViewModel("Continue", "", "", "get", false, Style.Black);
}
    <div class="pre-price-book-block pre-price-pictures container-fluid text-center text-white">
        <div class="container py-5" id="booking_selected">
            <div class="row pb-2">
                <p>
                    <span class="fw-bold fs-3 text-center">@await Html.RenderText("Enter person details")</span>
                </p>
            </div>

            <div class="row text-center">

                <div class="col-6 offset-3">
                    @await Html.PartialAsync("Common/Selector", selectorDto)
                </div>
                
                <div class="col-3"></div>
                
                <div class="col-6 offset-3 text-white fs-3 pb-3 fw-bold text-center">
                    @totalSum
                </div>
                
                <form asp-action="EnterPersonDetails" asp-controller="Booking" method="post" class="pb-3 pt-3">
                    @await Html.PartialAsync("Common/Input", idInput)
                    @await Html.PartialAsync("Common/Input", phoneInput)
                    @await Html.PartialAsync("Common/Input", emailInput)
                    @await Html.PartialAsync("Common/Input", nifInput)
                    @await Html.PartialAsync("Common/Input", fullNameInput)
                    @await Html.PartialAsync("Common/Input", commentInput)
                    @await Html.PartialAsync("Common/CheckboxControl", isCompanyControl)
                    <div id="@companyDataId">
                        @await Html.PartialAsync("Common/Input", companyNif)
                        @await Html.PartialAsync("Common/Input", companyName)
                        @await Html.PartialAsync("Common/Input", companyAddress)
                    </div>

                    <div class="d-flex justify-content-center">
                        @await Html.PartialAsync("Common/Button", buttonDto)
                    </div>
                </form>
            </div>

            @await Html.PartialAsync("Booking/Time/BookingTimeItemsRow", new BookingTimeItemsRow(times))
        </div>
    </div>