<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["TitleToTopLabelE"]</title>
    
	<script src="/lib/jQuery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>

	<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

	<link href="/lib/summernote/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="/lib/summernote/dist/summernote-bs4.min.js"></script>
    
</head>
<body>

    @RenderBody()

</body>
</html>