@inject TypesOptions TypesOptions
@using App.cms.StaticHelpers
@model App.cms.ViewModels.Common.MapViewModel

@{
    Layout = null;
}

<div class="mapBox" style="height: 120px;">
    @Html.Raw(Model.Location)
</div>