@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.cms.Repositories.TextResource
@using App.Models
@model App.ViewModels.Book.BookDto
@inject TextResourceRepository TextResourceRepository

@{
    Layout = null;
}

<div style="background: rgba(106,13,173,1);" class="container-fluid text-white text-center">
    <div class="container py-5" id="order">

        <div class="row">
            <div class="col-8 offset-2">
                <div class="row mb-3">
                    <p>
                        <span class="fw-bold fs-1 text-center">@await Html.RenderText("Booking")</span>
                    </p>

                    <p class="mt-3">
                        <span class="fw-bold fs-2 text-center">@await Html.RenderText("Booking starts soon!")</span>
                    </p>

                    <p>
                    <span class="fw fs-3 text-center">
                        @await Html.RenderText("Bookings are scheduled to begin around ")
                        <b>@await Html.RenderText("July 1st")</b>
                        <br/>
                        @await Html.RenderText("Enroll now to be notified as soon as possible!")
                    </span><p/>

                    <img class="w-75" src="/UploadImages/fff419fc-4557-494b-a79e-05b00998fc2d_compressed.webp"/>
                </div>
            </div>
        </div>
    </div>
</div>