@inject CatsoftContext DbCatsoftContext
@using App.cms.Repositories.TextResource
@using App.cms.StaticHelpers.Cookies
@using App.Models
@using App.ViewModels.Booking.Time
@using Options = App.cms.Options.Options
@model App.ViewModels.Booking.BookingPageViewModel
@inject TextResourceRepository TextResourceRepository
@inject IBookingSelectionCookieRepository bookingSelectionCookieRepository
@inject ILanguageCookieRepository LanguageCookieRepository

@{
    Layout = null;
    var selection = bookingSelectionCookieRepository.GetValue();
    var selectedDate = selection.Date;

    var groupsByDate = Model.AvailableAppointTimes.GroupBy(x => x.AppointTime.Date)
        .OrderBy(w => w.Key)
        .Select(w => Tuple.Create(w.Key, w.GroupBy(w => w.AppointTime.TimeStart).OrderBy(w => w.First().AppointTime.TimeStart)
            .Select(w => new BookingTimeItemDto
            {
                AppointTimeDto = w.First(),
                Places = w.Count(),
                Selected = selection.SelectedAppointTimeIds.Contains(w.First().AppointTime.Id),
                BookingTimeItemType = BookingTimeItemType.Places
            }).ToList()))
        .ToList();

    var firstRow = groupsByDate.FirstOrDefault(w => w.Item1 == selectedDate);

    if (firstRow != null)
    {
        groupsByDate.Insert(0, firstRow);
    }
}

@if (Options.IsBookingEnabled)
{
    @await Html.PartialAsync("Booking/BookSelectionBlock", Model)

    <div class="container-fluid text-center">
        <div class="container py-5" id="order">

            @foreach (var booking in groupsByDate)
            {
                <div class="row pt-5">
                    <p>
                        <span class="fw-bold fs-3 text-center">@booking.Item2.First().AppointTimeDto.AppointTime.FormatLongDate(LanguageCookieRepository)</span>
                    </p>
                </div>
                <div class="row flex-row justify-content-center">
                    @foreach (var time in booking.Item2)
                    {
                        @await Html.PartialAsync("Booking/Time/BookingTimeItem", time)
                    }
                </div>
            }
        </div>
    </div>
}