@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.cms.Repositories.TextResource
@using App.cms.StaticHelpers.Cookies
@using App.Models
@using App.ViewModels.Views
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Options = App.cms.Options.Options
@model App.ViewModels.Booking.BookingPageViewModel
@inject TextResourceRepository TextResourceRepository
@inject IBookingSelectionCookieRepository bookingSelectionCookieRepository
@inject ILanguageCookieRepository LanguageCookieRepository
@inject ILocalOptionsCookieRepository LocalOptionCookieRepository

@{
    Layout = null;

    var selection = bookingSelectionCookieRepository.GetValue();

    var personCount = Model.PersonBookingDto.PersonBooking.PeopleCount;

    var options = Enumerable.Range(1, 4).ToList();
    var selectorDto = new SelectorViewModel(await TextResourceRepository.GetByTagAsync("Select stations count"),
        personCount.ToString(),
        options.Select(w => new KeyValueViewModel(w.ToString(), w.ToString())).ToList(),
        false)
    {
        DefaultSelection = false,
        OnChangeScript = "timeSelectionPersonCountOnChange(this, 'selectedTimesBlockId')"
    };

    var buttonDto = new ButtonViewModel("Reserve now", "EnterPersonalDetails", "Booking", "get");
}
@if (LocalOptionCookieRepository.BookingEnabled())
{
    <div class="pre-price-book-block container-fluid text-center text-white">
        <div class="container py-5" id="booking_selected">
            <div class="row pb-2">
                <p>
                    <span class="fw-bold fs-3 text-center">@await Html.RenderText("Selected times")</span>
                </p>
            </div>

            <div class="row text-center">
                <div class="col-5 offset-1">
                    @await Html.PartialAsync("Common/Selector", selectorDto)
                </div>

                <div class="col-5 offset-1">
                    @await Html.PartialAsync("Common/Date", new DateViewModel("Date", selection.Date, "timeSelectionSelectionDateOnChange(this, 'selectedTimesBlockId')"))
                </div>
            </div>

            <div id="selectedTimesBlockId">
            </div>
            
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    updateSelectedTimes("selectedTimesBlockId")
                });
            </script>

            <div class="d-flex justify-content-center">
                @await Html.PartialAsync("Common/Button", buttonDto)
            </div>
        </div>
    </div>
}