@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.cms.Repositories.TextResource
@using App.cms.StaticHelpers.Cookies
@using App.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Options = App.cms.Options.Options
@inject TextResourceRepository TextResourceRepository
@inject ILocalOptionsCookieRepository LocalOptionCookieRepository


@{
    Layout = null;
}
@if (LocalOptionCookieRepository.BookingEnabled())
{
    <form asp-action="Index" method="get" asp-controller="Booking">
        <div class="d-flex justify-content-start text-center">
            <button type="submit" class="btn btn-primary text-center btn-action-call text1">
                @await Html.RenderText("Make a reservation")
            </button>
        </div>
    </form>
}