@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.cms.Repositories.TextResource
@using App.cms.StaticHelpers.Cookies
@using App.Models
@using App.Repositories.Cms.AppointRule
@using App.ViewModels.Views
@using Options = App.cms.Options.Options
@inject TextResourceRepository TextResourceRepository
@inject IAppointRuleRepository AppointRuleRepository
@inject ILanguageCookieRepository LanguageCookieRepository
@inject IBookingSelectionCookieRepository BookingSelectionRepository

@{
    Layout = null;
    
    var selection = BookingSelectionRepository.GetValue();

    var date = selection.Date;

    var options = Enumerable.Range(1, 4).ToList();

    var selectorDto = new SelectorViewModel(await TextResourceRepository.GetByTagAsync("Select number of people"),
        selection.PeopleCount.ToString(),
        options.Select(w=> new KeyValueViewModel(w.ToString(), w.ToString())).ToList(),
        false)
    {
        DefaultSelection = false,
        OnChangeScript = "prePricePersonCountSelectionOnChange(this, 'prePriceBlockId')"
    };
}
@if (Options.IsBookingEnabled)
{
    <div class="container-fluid text-center bg-info text-white">
        <div class="container py-5" id="booking_selected">
            <div class="row pb-2">
                <p>
                    <span class="fw-bold fs-3 text-center">@await Html.RenderText("Reserve time now!")</span>
                </p>
            </div>

            <div class="row text-center">
                <div class="col-5 offset-1">
                    @await Html.PartialAsync("Common/Selector", selectorDto)
                </div>
                
                <div class="col-5 offset-1">
                    @await Html.PartialAsync("Common/Date", new DateViewModel("Date", date, "prePriceDateSelectionOnChange(this, 'prePriceBlockId')"))
                </div>

                <div class="col-4 offset-4 text-white fs-3 pb-3 fw-bold text-center" id="prePriceBlockId">
                </div>
            </div>

            @await Html.PartialAsync("Booking/BookButton")
            
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    updatePrePrice("prePriceBlockId")                
                });
            </script>
        </div>
    </div>
}