@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.cms.Repositories.TextResource
@using App.cms.StaticHelpers.Cookies
@using App.Models
@using App.Repositories.Cms.AppointRule
@using App.ViewModels.Views
@using Options = App.cms.Options.Options
@inject TextResourceRepository TextResourceRepository
@inject IAppointRuleRepository AppointRuleRepository
@inject ILanguageCookieRepository LanguageCookieRepository
@inject IBookingSelectionCookieRepository BookingSelectionRepository

@{
    Layout = null;
    
    var selection = BookingSelectionRepository.GetValue();

    var date = selection.Date;
    
    var price = await AppointRuleRepository.PriceForTheDate(date);
    
    var options = Enumerable.Range(1, 4).ToList();

    var totalPrice = selection.PeopleCount * price;


    var selectorDto = new SelectorViewModel(await TextResourceRepository.GetByTagAsync("Select stations count"),
        selection.PeopleCount.ToString(),
        options.Select(w=> new KeyValueViewModel(w.ToString(), w.ToString())).ToList(),
        false)
    {
        DefaultSelection = false,
        OnChangeScript = "bookingPersonCountSelectionOnChange(this)"
    };
}
@if (Options.IsBookingEnabled)
{
    <div class="container-fluid text-center bg-info text-white">
        <div class="container py-5" id="booking_selected">
            <div class="row pb-2">
                <p>
                    <span class="fw-bold fs-3 text-center">@await Html.RenderText("Selected times")</span>
                </p>
            </div>

            <div class="row text-center">
                <span class="fs-3 col-2 text-center">@await Html.RenderText("Person count")</span>
                <div class="col-2 offset-1">
                    @{
                        await Html.RenderPartialAsync("Common/Selector", selectorDto);
                    }
                </div>
                
                <div>
                    @{
                        await Html.RenderPartialAsync("Common/Date", new DateViewModel("Date", date, "bookingDateSelectionOnChange(this)"));
                    }
                </div>

                <div class="col-4 offset-2 text-white fs-3 pb-3 fw-bold text-center">
                    @totalPrice
                </div>
            </div>

            <form class="pt-5" asp-action="EnterPersonDetails" asp-controller="Booking" method="get" enctype="multipart/form-data">
                <button type="submit" class="btn btn-primary rounded-pill pb-2 fs-3 pe-5 ps-5 text-center" style="min-width: 350px;">
                    @await Html.RenderText("Reserve now")
                </button>
            </form>
        </div>
    </div>
}