@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.cms.Repositories.TextResource
@using App.Models
@model App.ViewModels.Book.BookDto
@inject TextResourceRepository TextResourceRepository

@{
    Layout = null;
}

<div style="background: rgba(106,13,173,1);" class="container-fluid text-white text-center">
    <div class="container py-5" id="order">

        <div class="row">
            <div class="col-8 offset-2">
                <p>
                    <span class="fw-bold fs-1 text-center">@await Html.RenderText("Will be here soon!")</span>
                </p>
            </div>
        </div>
    </div>
</div>