@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.cms.Repositories.TextResource
@using App.Models
@using App.ViewModels.Booking
@model App.ViewModels.Book.BookDto
@inject TextResourceRepository TextResourceRepository

@{
    Layout = null;

    var strengths = new List<OurStrengthsViewModel>
    {
        new()
        {
            ImageUrl = "/UploadImages/db713992-dc5b-4d73-8e7b-318cf1920f07_compressed.webp",
            Title = await TextResourceRepository.GetByTag(Context, "We make virtual reality more accessible"),
            Description = await TextResourceRepository.GetByTag(Context, "Our goal is to make exploring the world of virtual reality accessible to everyone. We will teach you and guide you by the hand through this fascinating world")
        },
        new()
        {
            ImageUrl = "/UploadImages/af7a487d-a268-47f6-b3f5-b09b6856b0ea_compressed.webp",
            Title = await TextResourceRepository.GetByTag(Context, "All the latest games from the world of VR"),
            Description = await TextResourceRepository.GetByTag(Context, "You can choose a game to suit every taste, from shooters and horror to harmless but interesting simulators and VR quests")
        },
        new()
        {
            ImageUrl = "/UploadImages/df91091b-f455-48c9-8cae-d672e05b950a_compressed.webp",
            Title = await TextResourceRepository.GetByTag(Context, "Modern VR equipment and other"),
            Description = await TextResourceRepository.GetByTag(Context, "We present the following devices for virtual reality: HTC Vive Pro 2, Valve Index, face and limb trackers, green screen")
        },
        new()
        {
            ImageUrl = "/UploadImages/1d15372b-c925-4746-ba5f-f448ac08c975_compressed.webp",
            Title = await TextResourceRepository.GetByTag(Context, "VR events of any format"),
            Description = await TextResourceRepository.GetByTag(Context, "Corporate event with many guests or a child’s birthday - our VR team will help make a holiday of any scale unforgettable and interesting")
        }
    };
}

<div style="background: rgba(106,13,173,1);" class="container-fluid text-white text-center">
    <div class="container py-5" id="order">

        <div class="row">
            <div class="row mb-3">
                <p>
                    <span class="fw-bold fs-1 text-center">@await Html.RenderText("Our Strengths")</span>
                </p>

                <p>

                <div class="row">
                    @foreach (var strength in strengths)
                    {
                        @await Html.PartialAsync("Booking/CommercialBookStrength", strength)
                    }
                </div>
                
                @await Html.PartialAsync("Booking/BookButton")
            </div>
        </div>
    </div>
</div>