@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.cms.Repositories.TextResource
@using App.cms.StaticHelpers.Cookies
@using App.Models
@using App.ViewModels.Booking.Time
@model List<App.ViewModels.Booking.AppointTimeDto>
@inject TextResourceRepository TextResourceRepository
@inject IBookingSelectionCookieRepository bookingSelectionCookieRepository
@inject ILanguageCookieRepository LanguageCookieRepository
@removeTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    Layout = null;

    var selection = bookingSelectionCookieRepository.GetValue();

    var selectedTimes = Model
        .Where(w => selection.SelectedAppointTimeIds.Contains(w.AppointTime.Id))
        .OrderBy(w => w.AppointTime.Date)
        .ThenBy(w => w.AppointTime.TimeStart)
        .Select(w => new BookingTimeItemDto()
        {
            AppointTimeDto = w,
            Selected = true
        })
        .ToList();
}

<div class="row flex-row justify-content-center">
    @foreach (var time in selectedTimes)
    {
        @await Html.PartialAsync("Booking/Time/BookingTimeItem", time)
    }
</div>