@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.Models
@model App.ViewModels.Projects.AllProjectsPageViewModel

@{
    Layout = "_Layout";
}

<div class="about-us" id="projects">
    <div class="container">
        <h3 class="title">@await Html.RenderText("My_projects")</h3>
        <p>@Html.Raw(Model.ProjectsPageModel.ServicesText)</p> <br/>
    </div>
    
    @await Html.PartialAsync("Projects", Model.ProjectModels)
</div>
