@inject CatsoftContext DbCatsoftContext
@inject TextResourceRepository TextRepository
@using App.cms.Repositories.TextResource
@using App.Models
@model float

@{
    Layout = null;
}

<div class="col">
    <p>
        @await TextRepository.GetByTagAsync("Total amount") : @Model
    </p>
</div>
    