@using App.cms.Models
@using App.cms.StaticHelpers
@using App.cms.StaticHelpers.Cookies
@using App.Models
@using App.Models.Pages
@using App.ViewModels.Common
@inject CatsoftContext CatsoftContextDb
@inject CatsoftContext Database
@inject ILanguageCookieRepository LanguageCookieRepository
@{
    HeaderViewModel headerViewModel = null;
    FooterViewModel footerViewModel = null;

    if (Model is CommonPageViewModel commonPageViewModel)
    {
        headerViewModel = commonPageViewModel.HeaderViewModel;
        footerViewModel = commonPageViewModel.FooterViewModel;

        var metaInfo = commonPageViewModel.GetMetaPage();
        if (metaInfo != null)
        {
            headerViewModel.MetaInfo = metaInfo;
        }
        else
        {
            headerViewModel.MetaInfo = new SimpleMetaInfo
            {
                MetaTitle = headerViewModel.CompanyName
            };
        }
    }

    var currentLanguage = LanguageCookieRepository.GetValue().Language;
    var langShort = currentLanguage.GetLanguageCodeForHtml();
}

<!doctype html>
<html lang="@langShort">
<head>
    @await Html.PartialAsync("CommonHead", headerViewModel)
</head>

<body class="d-flex flex-column h-100 vh-100">

@await Html.PartialAsync("Header", headerViewModel)

<main class="container-fluid px-0">
    @RenderBody()
</main>

@await Html.PartialAsync("Footer", footerViewModel)

@await Html.PartialAsync("JsImports")

</body>
</html>