@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.Models
@model App.ViewModels.About.AboutPageViewModel

@{
    Layout = null;
}

<div class="about-us" id="about">
    <div class="container py-5">

        <h3 class="title">@await Html.RenderText("AboutUs")</h3>
        <div>
            @Html.Raw(Model.Page.AboutHtml)
        </div>
    </div>
</div>