@model App.ViewModels.Common.FooterViewModel

@{
    Layout = null;
}

<footer>
    <div class="container clr">

        <div class="foot-l">

            <div>

                <p>Copyright Catsoft (<a href="https://catsoft.pro">link</a>) &copy; @DateTime.Now.Year</p>

            </div>

        </div>

    </div>

</footer>

<div class="scrollup-block-right">
    <button id="scrollup" class="material-icons goOnTop">arrow_upward</button>
</div>
