@using App.cms.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model App.ViewModels.Common.FooterViewModel

@{
    Layout = null;
}

<footer class="footer mt-auto py-2">
    <div class="container-fluid row justify-content-between">
        <div class="col-4 d-flex align-items-center">
            <span class="ms-5 mb-3 mb-md-0 text-muted">
                <a href="http://catsoft.games">&copy; Catsoft</a> 2018-@DateTime.Now.Year
            </span>

            <form method="post" asp-action="ToggleFeature" asp-controller="Home">
                <input type="hidden" value="Booking" name="feature"/>
                <input type="submit" class="btn" value="Booking toggle"/>
            </form>

            <form method="post" asp-action="ToggleFeature" asp-controller="Home">
                <input type="hidden" value="GameSelection" name="feature"/>
                <input type="submit" class="btn" value="GameSelection toggle"/>
            </form>
        </div>
        
        <div class="row col-4 offset-4 d-flex">
            
        @{
#if DEBUG
            <a href="/logincms" class="col-auto d-flex align-items-center mb-3 me-5 mb-md-0 text-decoration-none">
                <span class="fs-4">@await Html.RenderText("Login")</span>
            </a>
#endif

#if DEBUG
            <a href="/accounting/transactionlist" class="col-auto d-flex align-items-center mb-3 me-5 mb-md-0 text-decoration-none">
                <span class="fs-4">@await Html.RenderText("Accounting")</span>
            </a>
#endif

#if DEBUG
            <a href="/textResource/toggleEdit" class="col-auto d-flex align-items-center mb-3 me-5 mb-md-0 text-decoration-none">
                <span class="fs-4">@await Html.RenderText("Text edit")</span>
            </a>
#endif
        }
        </div>
    </div>
</footer>