@inject CatsoftContext DbCatsoftContext
@using App.Models
@using Microsoft.IdentityModel.Tokens
@model App.Models.GameModel

@{
    Layout = null;
}

@if (Model != null)
{
    <figure class="mb-0 pb-0">
        @if (Model.ImageModel != null)
        {
            <img class="squareImageNew" src="@Model.ImageModel?.Url" alt="img">
        }
        else
        {
            await Html.RenderPartialAsync("Common/YoutubeVideo", Model.YoutubeLink);
        }
        <figcaption class="pt-3 mt-0">
            <span class="text1" style="text-transform: none;">@Html.Raw(Model.Title)</span>
        </figcaption>
    </figure>
}