@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.Models
@using App.ViewModels.Views
@model List<App.Models.GameModel>

@{
    Layout = null;

    var linkDto = new LinkButtonViewModel("Show all", "Index", "Games");
}

<div class="container-fluid text-center">

    <div class="container games-block">

        <div class="row mb-4 h2 text-center">
            <span class="h2 text-center">
                @await Html.RenderText("Games you can play")
            </span>
        </div>

        <div class="row flex-row justify-content-center">
            @{
                foreach (var gameModel in Model ?? new List<GameModel>())
                {
                    <div class="col-auto game-block">
                        @await Html.PartialAsync("Game", gameModel)
                    </div>
                }
            }
        </div>

        @await Html.PartialAsync("Common/LinkButton", linkDto)
    </div>

</div>