@model App.ViewModels.Common.HeaderViewModel
@removeTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<div class="container-fluid d-flex flex-wrap py-3">

    <div class="row col-10 offset-1 flex-row justify-content-between align-items-center align-self-stretch">

        <div class="col-12 col-lg-3 ms-md-3 d-flex justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center text-decoration-none">
                <div class="d-flex justify-content-center align-items-center">
                    <img height="48px" width="48px" src="/UploadFiles/523c8ec8-b25c-49d8-a6ed-68ce725c2267..svg"/>
                    <span class="h2to5 ms-3">@(Model.CompanyName)</span>
                </div>
            </a>
        </div>

        <div class="col-12 col-lg-7 offset-lg-1 ps-2 mt-2 mt-lg-0 d-lg-block d-none">
            @await Html.PartialAsync("Header/Menus", Model)
        </div>

    </div>

</div>