@inject CatsoftContext DbCatsoftContext
@using App.cms.Helpers
@using App.Models
@model App.ViewModels.Services.ServicesPageViewModel

@{
    Layout = null;
}

<div class="about-us" id="services">
    <div class="container">
        <h3 class="title">@await Html.RenderText("Services")</h3>
        <div>
            @Html.Raw(Model.Page.ServicesText)
        </div>
    </div>

    @await Html.PartialAsync("Services", Model.ServiceModels)
</div>


